In [1]:
### Provide different functions to different data types with single dispatch

In [2]:
import pandas as pd
from typing import Union

## Native method:
it gets complicated when there are more data types to consider

In [3]:
def native_create_data_from_dict(data: dict):
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data)

def native_create_data_from_list(data: list):
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data, columns = ["a", "b"])


def native_create_data(data : Union[list, dict]) -> pd.DataFrame:
    
    if isinstance(data, dict):
        
        return native_create_data_from_dict(data)
        
    if isinstance(data, list): 
        
        return native_create_data_from_list(data)
        
    else:
        NotImplementedError(f"Type {type(data)} is unsupported")

In [4]:
data = dict(a = [1,2,3], b = [4,5,6])

native_create_data(data)

Data is created from a <class 'dict'>.

   a  b
0  1  4
1  2  5
2  3  6

In [5]:
data = [(1,4), (2, 5), (3, 6)]
native_create_data(data)

Data is created from a <class 'list'>.

   a  b
0  1  4
1  2  5
2  3  6

##  Using singledispatch
- Singledispatch will choose the right function based on the type of the current function's first argument

In [ ]:
from functools import singledispatch

@singledispatch
def create_data(data: Union[list, dict, tuple]) -> pd.DataFrame:
    
    NotImplementedError(f"Type {type(data)} is unsupported")

@create_data.register
def create_data_from_dict(data: dict):
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data)

@create_data.register
def create_data_from_list(data: list):
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data, columns = ["a", "b"])

In [10]:
data = dict(a = [1,2,3], b = [4,5,6])

create_data(data)

Data is created from a <class 'dict'>.

   a  b
0  1  4
1  2  5
2  3  6

In [11]:
data = [(1,4), (2, 5), (3, 6)]
create_data(data)

Data is created from a <class 'list'>.

   a  b
0  1  4
1  2  5
2  3  6

### Multiple data types declaration

In [12]:
from functools import singledispatch

@singledispatch
def create_data(data: Union[list, dict, tuple]) -> pd.DataFrame:
    
    NotImplementedError(f"Type {type(data)} is unsupported")

@create_data.register(dict)
def create_data_from_dict(data: dict):
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data)

@create_data.register(list)
@create_data.register(tuple)
def create_data_from_list(data: Union[list, tuple]):
    print(f"Data is created from a {type(data)}.")
    return pd.DataFrame(data, columns = ["a", "b"])

In [13]:
data = ((1,4), (2, 5), (3, 6))

create_data(data)

Data is created from a <class 'tuple'>.

   a  b
0  1  4
1  2  5
2  3  6