In [1]:
from sqlalchemy import create_engine

- Engine class controls connectivity and behavior
  ```
  dialect[+driver]://user:password@host/dbname
  example
  mysql+pymysql://<username>:<password>@<host>/<dbname>
  ```
- `echo=True` for logging, otherwise silent it by doing `echo=None`

In [2]:
template_engine = "postgresql+psycopg://{db_username}:{db_password}@{db_host}:{db_port}"

engine_config = template_engine.format(
        db_username="123",
        db_password="123",
        db_host="dummy.cosqamqjez6h.ap-northeast-2.rds.amazonaws.com",
        db_port="5432",
        db_name="students")

# create database engine
engine = create_engine(engine_config,
    echo=True
)

connection = engine.connect()

2023-02-23 08:39:29,502 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-02-23 08:39:29,503 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-23 08:39:29,519 INFO sqlalchemy.engine.Engine select current_schema()
2023-02-23 08:39:29,520 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-02-23 08:39:29,543 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-02-23 08:39:29,544 INFO sqlalchemy.engine.Engine [raw sql] {}

## Create table
- `MetaData` contains definitions of tables and associated objects such as index, view, triggers, etc.

In [3]:
from sqlalchemy import Table, Column, Integer, String, MetaData
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String), 
)

### The create_all() function uses the engine object to create all the defined table objects and stores the information in metadata.
```
CREATE TABLE students (
   id INTEGER NOT NULL,
   name VARCHAR,
   lastname VARCHAR,
   PRIMARY KEY (id)
)
```

### when create successfully

    <details>
        ```
        2023-02-23 08:46:00,951 INFO sqlalchemy.engine.Engine BEGIN (implicit)
        2023-02-23 08:46:00,954 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname 
        FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace 
        WHERE pg_catalog.pg_class.relname = %(table_name)s::VARCHAR(64) COLLATE "C" AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s::VARCHAR, %(param_2)s::VARCHAR, %(param_3)s::VARCHAR, %(param_4)s::VARCHAR, %(param_5)s::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s::VARCHAR(64) COLLATE "C"
        2023-02-23 08:46:00,956 INFO sqlalchemy.engine.Engine [cached since 391.3s ago] {'table_name': 'students', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
        2023-02-23 08:46:00,975 INFO sqlalchemy.engine.Engine 
        CREATE TABLE students (
            id SERIAL NOT NULL, 
            name VARCHAR, 
            lastname VARCHAR, 
            PRIMARY KEY (id)
        )


        2023-02-23 08:46:00,976 INFO sqlalchemy.engine.Engine [no key 0.00117s] {}
        2023-02-23 08:46:00,993 INFO sqlalchemy.engine.Engine COMMIT
        ```
    </details>

### when already created (FIXME: How to identify if table already created)

   <details>
        ```
        2023-02-23 08:46:32,362 INFO sqlalchemy.engine.Engine BEGIN (implicit)
        2023-02-23 08:46:32,364 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname 
        FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace 
        WHERE pg_catalog.pg_class.relname = %(table_name)s::VARCHAR(64) COLLATE "C" AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s::VARCHAR, %(param_2)s::VARCHAR, %(param_3)s::VARCHAR, %(param_4)s::VARCHAR, %(param_5)s::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s::VARCHAR(64) COLLATE "C"
        2023-02-23 08:46:32,366 INFO sqlalchemy.engine.Engine [cached since 422.7s ago] {'table_name': 'students', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
        2023-02-23 08:46:32,383 INFO sqlalchemy.engine.Engine COMMIT
        ```
    </details>

In [7]:
meta.create_all(engine)

2023-02-23 08:46:32,362 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-02-23 08:46:32,364 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s::VARCHAR(64) COLLATE "C" AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s::VARCHAR, %(param_2)s::VARCHAR, %(param_3)s::VARCHAR, %(param_4)s::VARCHAR, %(param_5)s::VARCHAR]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s::VARCHAR(64) COLLATE "C"
2023-02-23 08:46:32,366 INFO sqlalchemy.engine.Engine [cached since 422.7s ago] {'table_name': 'students', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2023-02-23 08:46:32,383 INFO sqlalchemy.engine.Engine COMMIT