In [1]:
import pyarrow as pa

In [5]:

# Write out to file
with pa.OSFile('dataset.arrow', 'r') as sink:
    with pa.RecordBatchFileReader(sink) as reader:
        table = reader.read_all()


df = table.to_pandas()

df.head(5)

   one  two  three
a -1.0  foo   True
b  NaN  bar  False
c  2.5  baz   True