!pip3 install pyarrow

In [3]:
import numpy as np
import pandas as pd
import pyarrow as pa

In [4]:
df = pd.DataFrame({'one': [-1, np.nan, 2.5],
                   'two': ['foo', 'bar', 'baz'],
                   'three': [True, False, True]}, 
                index=list('abc'))

df.head(5)

   one  two  three
a -1.0  foo   True
b  NaN  bar  False
c  2.5  baz   True

In [7]:
# Write to Arrow
# Convert from pandas to Arrow
table = pa.Table.from_pandas(df)
# Write out to file
with pa.OSFile('dataset.arrow', 'wb') as sink:
    with pa.RecordBatchFileWriter(sink, table.schema) as writer:
        writer.write_table(table)