In [1]:
import pandas as pd 

value = list(range(5, 0, -1))
material = ["cotton", "funnel", "plastic", "vinyl", "silk"]

df = pd.DataFrame({"type": value, "material": material})


df.head()

   type material
0     5   cotton
1     4   funnel
2     3  plastic
3     2    vinyl
4     1     silk

### assign new column by assigning same value like other column

In [2]:
df['type duplicate'] = df.type

df.head()

   type material  type duplicate
0     5   cotton               5
1     4   funnel               4
2     3  plastic               3
3     2    vinyl               2
4     1     silk               1

### doesn't work with key assignment

In [3]:
df.type2 = df.type

#df.head()

<ipython-input-3-894da8ec016b>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.type2 = df.type

In [6]:
df['random'] = -1 #np.NaN

df.head()

   type material  type duplicate  random
0     5   cotton               5      -1
1     4   funnel               4      -1
2     3  plastic               3      -1
3     2    vinyl               2      -1
4     1     silk               1      -1

### works with formula based on other column as well

In [7]:
df['type2'] = df.type * 10

df.head()

   type material  type duplicate  random  type2
0     5   cotton               5      -1     50
1     4   funnel               4      -1     40
2     3  plastic               3      -1     30
3     2    vinyl               2      -1     20
4     1     silk               1      -1     10

### work with assign numpy array as well

In [9]:
import numpy as np

arr = np.array([1,2,3,4,5], dtype=int)

df['array'] = arr

df.head()

   type material  type duplicate  random  type2  array
0     5   cotton               5      -1     50      1
1     4   funnel               4      -1     40      2
2     3  plastic               3      -1     30      3
3     2    vinyl               2      -1     20      4
4     1     silk               1      -1     10      5