In [1]:
import pandas as pd

In [2]:
pd.read_csv("data/bad_lines.csv")

   Unnamed: 0  species  index
0           0      cat    4.0
1           1      dog    NaN
2           2     fish    6.0
3           3  hamster    0.0