In [12]:
import pandas as pd  
import math
  
# assign data of lists.  
data = {'visitors': [0, 21.0, math.nan, 19.0, 198.0 , math.nan, 20.0]}  
  
# Create DataFrame  
df = pd.DataFrame(data)

df.head(5)

   visitors
0       0.0
1      21.0
2       NaN
3      19.0
4     198.0

In [13]:
def convert(df):

    df = df.copy()

    try:

        df['visitors'] = df['visitors'].astype(int)

        print(df)

    except ValueError as error:
        
        print("Failed when have nan value")

In [14]:
convert(df)

Failed when have nan value

# Solution 1
Replace nan values with valid values

In [15]:
df_dup = df.copy()
df_dup['visitors'] = df_dup['visitors'].fillna(-1)
convert(df_dup = df.copy()
)

   visitors
0         0
1        21
2        -1
3        19
4       198
5        -1
6        20

# Solution 2 
INT64 can handle Nan Value

In [16]:
df['visitors'] = df['visitors'].astype(pd.Int64Dtype())

print(df)

   visitors
0         0
1        21
2        -1
3        19
4       198
5        -1
6        20