Change data types can follows
- [Numpy Data Types](https://www.w3schools.com/python/numpy/numpy_data_types.asp)
- [Python Data Types](https://www.w3schools.com/python/python_datatypes.asp)
```
Python has the following data types built-in by default, in these categories:
Text Type: str
Numeric Types: int, float, complex
Sequence Types: list, tuple, range
Mapping Type: dict
Set Types: set, frozenset
Boolean Type: bool
Binary Types: bytes, bytearray, memoryview
```

- df = df.astype({"A": float, "C": str, 'G': bool}, errors = 'raise') #errors = 'ignore'
- df.H = df.H.astype(float)

In [55]:
import pandas as pd 
import numpy as np

rows = 3
df = pd.DataFrame(np.random.randint(0,rows,size=(rows, 6)), columns=list('ABCDEF'))

df['G'] = np.zeros(3)
df.head(3)

   A  B  C  D  E  F    G
0  2  2  1  1  2  1  0.0
1  2  2  0  1  2  1  0.0
2  0  0  1  1  1  0  0.0

### Change multiple columns

In [56]:
df = df.astype({"A": float, "C": str, 'G': bool}, errors = 'raise')


### Notice how all columns is bring over
df.dtypes

A    float64
B      int32
C     object
D      int32
E      int32
F      int32
G       bool
dtype: object

# Dealing with errors in conversion

In [57]:
def convert(df):
    try:

        df.H = df.H.astype(int)

        print(df)

    except ValueError as error:
        
        print("Failed to convert to Int when have nan value")

    finally:
        print(df.H.dtypes)

In [58]:
df1 = df.copy()
df1["H"] = np.NaN

convert(df1)

Failed to convert to Int when have nan value
float64

# Solution 1
Replace nan values with valid values

In [59]:
df2 = df.copy()
df2['H'] = np.NaN
df2.H = df2.H.fillna(-1)

convert(df2)

     A  B  C  D  E  F      G  H
0  2.0  2  1  1  2  1  False -1
1  2.0  2  0  1  2  1  False -1
2  0.0  0  1  1  1  0  False -1
int32

# Solution 2
Suppress error with flag errors=`ignore`. Opposite errors=`raise`

In [60]:
df3 = df.copy()

df3['H'] = np.NaN

try:

    df3.H = df3.H.astype(int, errors = 'ignore')

    print(df3)

except ValueError as error:
    
    print("Failed when have nan value")

df3.H.dtypes

     A  B  C  D  E  F      G   H
0  2.0  2  1  1  2  1  False NaN
1  2.0  2  0  1  2  1  False NaN
2  0.0  0  1  1  1  0  False NaN

dtype('float64')

# Solution 3 
INT64 can handle Nan Value

In [61]:
df4 = df.copy()

df4['H'] = np.NaN
df4.H = df4.H.astype(pd.Int64Dtype())

print(df)

     A  B  C  D  E  F      G
0  2.0  2  1  1  2  1  False
1  2.0  2  0  1  2  1  False
2  0.0  0  1  1  1  0  False