In [5]:
import pandas as pd
import os

data1 = {'date': ['20110201', '20110202', '20110203', '20110204', '20110201'], 'weather': [20, 21, 19, 18, 20]}  
data2 = {'date': ['20000000', '20000001'], 'weather': [11, 12]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [6]:
df = pd.concat([df1, df2], axis = 0)

df.head(10)

       date  weather
0  20110201       20
1  20110202       21
2  20110203       19
3  20110204       18
4  20110201       20
0  20000000       11
1  20000001       12