In [25]:
import pandas as pd  
  
# assign data of lists.  
data = {'date': ['20110201', '20110202', '20110203', '20110204', '20110205'], 
        'count': [5, 1, 0, 21, 2]}  

# Create DataFrame  
df1 = pd.DataFrame(data)

df1

       date  count
0  20110201      5
1  20110202      1
2  20110203      0
3  20110204     21
4  20110205      2

In [26]:
# assign data of lists.  
data = {'date': ['20110201', '20110202', '20110203', '20110204', '20110205'], 
        'count': [20, 21, 19, 18, 20]}  

# Create DataFrame  
df2 = pd.DataFrame(data)

In [27]:
### concat by appending rows

In [28]:
df_row = pd.concat([df1, df2], axis = 0)

print(df_row)

       date  count
0  20110201      5
1  20110202      1
2  20110203      0
3  20110204     21
4  20110205      2
0  20110201     20
1  20110202     21
2  20110203     19
3  20110204     18
4  20110205     20

In [29]:
### concat by appending columns

In [30]:
df_column = pd.concat([df1, df2], axis = 1)
print(df_column)

       date  count      date  count
0  20110201      5  20110201     20
1  20110202      1  20110202     21
2  20110203      0  20110203     19
3  20110204     21  20110204     18
4  20110205      2  20110205     20