In [35]:
import pandas as pd
import os

folder_path = "credit_card_raw"
raw_files = os.listdir(folder_path)
output_path= os.path.join(folder_path, "new_traffic_20191401_20210917.csv")

files = []
for file in raw_files:
    
    print(file)
    if file.endswith(".csv"):
        files.append(file)

new_traffic_20191401_20211406_20210824.csv
new_traffic_20191401_20211407_20210917.csv
new_traffic_20211407_20210819.csv

In [36]:
df_list = []
for file in files:
    
    df = pd.read_csv(os.path.join(folder_path, file))
    
    df_list.append(df)
    
df = pd.concat(df_list, axis = 0)

df.head(10)

,period_code,datasource_id,etailer_id,category_id,demogroup_id,unique_visitors,index_id,panel_id
0,20211407,5,127,0,5,75,1,100
1,20211407,5,127,0,5,95,1,201
2,20211407,5,127,0,5,95,1,203
3,20211407,5,127,0,5,93,1,301
4,20211407,5,127,0,5,93,1,302
5,20211407,5,127,0,5,93,1,303
6,20211407,5,127,0,5,93,1,304
7,20211407,5,127,0,5,93,1,306
8,20211407,5,127,0,5,93,1,307
9,20211407,5,127,0,5,93,1,308

In [37]:
df_temp = df.loc[df.period_code == 20211407]
df_temp = df_temp.loc[df_temp.datasource_id ==5]

df_temp.head(10)

,period_code,datasource_id,etailer_id,category_id,demogroup_id,unique_visitors,index_id,panel_id
0,20211407,5,127,0,5,75,1,100
1,20211407,5,127,0,5,95,1,201
2,20211407,5,127,0,5,95,1,203
3,20211407,5,127,0,5,93,1,301
4,20211407,5,127,0,5,93,1,302
5,20211407,5,127,0,5,93,1,303
6,20211407,5,127,0,5,93,1,304
7,20211407,5,127,0,5,93,1,306
8,20211407,5,127,0,5,93,1,307
9,20211407,5,127,0,5,93,1,308

In [38]:
df_final = df.drop_duplicates()

df_final.to_csv(output_path, index=False)