In [1]:
import pandas as pd

bloodtypelist = ["A", "B", "O", "AB", "O", "A"]

dfref = pd.DataFrame({"bloodtype": bloodtypelist, "value": [5, 3, 2, 1, 4, 10]})
dfcopy = pd.DataFrame({"bloodtype": bloodtypelist, "value": [5, 3, 2, 1, 4, 10]})

# copy by reference

In [2]:
df2 = dfref

df2['temp'] = list(range(0, 6))

df2.head()

  bloodtype  value  temp
0         A      5     0
1         B      3     1
2         O      2     2
3        AB      1     3
4         O      4     4

In [3]:
dfref.head()

  bloodtype  value  temp
0         A      5     0
1         B      3     1
2         O      2     2
3        AB      1     3
4         O      4     4

# copy by value

In [4]:
df3 = dfcopy.copy()

df3['temp'] = list(range(0, 6))

df3.head()

  bloodtype  value  temp
0         A      5     0
1         B      3     1
2         O      2     2
3        AB      1     3
4         O      4     4

In [5]:
dfcopy.head()

  bloodtype  value
0         A      5
1         B      3
2         O      2
3        AB      1
4         O      4