- Iteratively appending rows to a DataFrame can be **more computationally intensive** than a single concatenate. 
- A better solution is to append those rows to a list and then concatenate the list with the original DataFrame all at once.

In [10]:
import pandas as pd

value1 = list(range(0, 5))
value2 = [i for i in "ABCDE"]

columnname1 = "Column1"
columnname2 = "Column2"

df = pd.DataFrame({columnname1: value1, columnname2: value2})

df.head()

   Column1 Column2
0        0       A
1        1       B
2        2       C
3        3       D
4        4       E

In [11]:
df_append = df.append({columnname1: 1000, columnname2: "Hello World"}, ignore_index = True)

df_append.head(10)

   Column1      Column2
0        0            A
1        1            B
2        2            C
3        3            D
4        4            E
5     1000  Hello World

In [12]:
value1.append(1000)
value2.append("Hello World")
df_optimized = pd.DataFrame({columnname1: value1, columnname2: value2})

df_optimized.head(10)

   Column1      Column2
0        0            A
1        1            B
2        2            C
3        3            D
4        4            E
5     1000  Hello World