In [16]:
import pandas as pd 
import numpy as np

rows = 3
df = pd.DataFrame(np.random.randint(0,rows,size=(rows, 4)), columns=list('ABCD'))

df.head(3)

   A  B  C  D
0  2  2  2  1
1  2  1  1  2
2  0  2  2  1

### Append new column with np.Nan

In [6]:
df["cell"] = np.NaN

df.head(2)

   A  B  C  D  cell
0  0  2  1  0   NaN
1  0  1  1  1   NaN

### Append new column with value example -1

In [9]:
df["minus"] = -1

df.head(2)

   A  B  C  D  cell  minus
0  0  2  1  0   NaN     -1
1  0  1  1  1   NaN     -1

### Append new column with specific value

In [22]:
df_ = df
df_["ascending"] = list(range(1, 4))
df_.head(3)

   A  B  C  D  ascending
0  2  2  2  1          0
1  2  1  1  2          1
2  0  2  2  1          2