In [1]:
import pandas as pd 
import numpy as np

df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

df.sample(5)

     A   B   C   D
40  52  34  94  34
88  79  88  50  52
67  44  36  24  66
62  97  47  24  53
98  47   3   7  39

### find matching values and access row by index

In [3]:
df.iloc[df.loc[df.D == 34].index]

     A   B   C   D
28  98  37  46  34
40  52  34  94  34