In [8]:
import pandas as pd 
import numpy as np

df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

df.head(5)

    A   B   C   D
0   6  43  99  54
1  80  45  13  20
2  92  58  90  16
3  43  63  67   4
4  65  41  23  14

### Get subset of columns

In [4]:
df[["C", "D"]]

     C   D
0   15  75
1    3  78
2   47  81
3    6   0
4   22  36
..  ..  ..
95   1  36
96  68  77
97  39  17
98  78  11
99  39  40

[100 rows x 2 columns]

### What happens with one square bracket

In [5]:
df["C", "D"]

KeyError: ('C', 'D')

### What happens if the column name not found

In [ ]:
df[["e", "f"]]

NameError: name 'df' is not defined

### Get subset of rows

In [6]:
df.iloc[1:3]

    A   B   C   D
1  72   7   3  78
2  62  29  47  81