In [32]:
import pandas as pd


df = pd.DataFrame({"param1": [5, 4, 1,2,3], "param2": [10, 11, 12,13, 14]})
df.head()

   param1  param2
0       5      10
1       4      11
2       1      12
3       2      13
4       3      14

In [33]:
df = df.drop([1, 3]).reset_index(drop = True)
df

   param1  param2
0       5      10
1       1      12
2       3      14