In [98]:
import pandas as pd

bloodtypelist = ["A", "B", "O", "AB", "O", "A"]

df = pd.DataFrame({"bloodtype": bloodtypelist, "value": [5, 3, 2, 1, 4, 10]})

df

  bloodtype  value
0         A      5
1         B      3
2         O      2
3        AB      1
4         O      4
5         A     10

### This is sufficient just to get count values

In [104]:
out = df.groupby("bloodtype")["bloodtype"].count()

out

bloodtype
A     2
AB    1
B     1
O     2
Name: bloodtype, dtype: int64

### Methods to choose items of specific count values

- In this example, choose bloodtype which appears more than 1

In [100]:
subbloodtype = ["A", "B"]

counter = df.loc[df.bloodtype.isin(subbloodtype)]

# this would not works, since the number of rows is lesser than the original dataframe
df.loc[dfsub.groupby("bloodtype")["bloodtype"].count() > 1]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

### Choose items where count of specific value

In [101]:
counter = df.groupby("bloodtype")["bloodtype"].transform("size")
df.loc[counter > 1]

  bloodtype  value
0         A      5
2         O      2
4         O      4
5         A     10

### Work with string too

In [102]:
arr1 = range(100, 106)
arr2 = ["abc", "def", "abc", "abc", "456", "def"]

df2 = pd.DataFrame({'a': arr1, 'b': arr2})

df2

     a    b
0  100  abc
1  101  def
2  102  abc
3  103  abc
4  104  456
5  105  def

In [103]:
counter = df2.groupby("b")["b"].transform("size") 
df2.loc[(counter == 2)|(counter == 3)].reset_index(drop=True)

     a    b
0  100  abc
1  101  def
2  102  abc
3  103  abc
4  105  def