In [36]:
import pandas as pd
import math


input = {"first": [1,1, 2, 2, 2, 3], "second": ["test", "test", "hello", "hello", "hello", "world"], "third": [0.1, 0.2, 0.3, 0.4, 0.1, 0.5]}

df = pd.DataFrame(input)


df = df.sample(frac=1)

df

   first second  third
3      2  hello    0.4
1      1   test    0.2
2      2  hello    0.3
0      1   test    0.1
5      3  world    0.5
4      2  hello    0.1

# Get a subset of df with columns in interest

In [37]:

column_in_interest = ["first", "second"]

df_compare = df[column_in_interest]

df_keys = df_compare.drop_duplicates()

# Get index of duplicates

In [54]:
keys = list()
indexes = list()
occurence = list()

for idx in range(df_keys.shape[0]):
    
    
    output = df.loc[(df_compare['first']  == df_keys.iloc[idx]['first']) 
          & (df_compare['second'] == df_keys.iloc[idx]['second'])].index
    
    index = list(sorted(output))
    
    keys.append(list(df_keys.iloc[idx]))
    indexes.append(index)
    occurence.append(len(index))

[[2, 'hello'], [1, 'test'], [3, 'world']]
[[2, 3, 4], [0, 1], [5]]
[3, 2, 1]

# save output of 
- keys
- occurence of the index
- number of occurence

In [60]:
df_output = pd.DataFrame({"keys": keys, "index": indexes, "occurence": occurence})

df_output.head(5)

         keys      index  occurence
0  [2, hello]  [2, 3, 4]          3
1   [1, test]     [0, 1]          2
2  [3, world]        [5]          1