In [125]:
import pandas as pd
import math


input = {"first": [1,1, 2, 2, 2, 3], "second": ["test", "test", "hello", "hello", "hello", "world"], "third": [0.1, 0.2, 0.3, 0.4, 0.1, 0.5]}

df = pd.DataFrame(input)


df = df.sample(frac=1)

df

   first second  third
1      1   test    0.2
3      2  hello    0.4
2      2  hello    0.3
5      3  world    0.5
0      1   test    0.1
4      2  hello    0.1

# Get a subset of df with columns in interest

In [126]:

column_in_interest = ["first", "second"]


df_compare = df[column_in_interest]

# Get index of duplicates

In [127]:
#df.loc[(df['column_name'] >= A) & (df['column_name'] <= B)]

list_matched_index = list()

for idx in range(df_compare.shape[0]):
    
    output = df.loc[(df_compare['first']  == df_compare.iloc[idx]['first']) 
          & (df_compare['second'] == df_compare.iloc[idx]['second'])].index
    
    
    if output.shape[0] > 1:
        
        # import to sort the order
    
        list_matched_index.append(tuple(sorted(output)))
        

print(tuple(list_matched_index))

((0, 1), (2, 3, 4), (2, 3, 4), (0, 1), (2, 3, 4))

In [128]:
keyvalue = dict()

for matched_list in list_matched_index:
    
    if matched_list in keyvalue.keys():
        keyvalue[matched_list] += 1
    else:
        keyvalue[matched_list] = 1
        
print(keyvalue)

{(0, 1): 2, (2, 3, 4): 3}