In [1]:
import pandas as pd

# assign data of lists.  
data = {'date': ['20110201', '20110202', '20110203', '20110204', '20110201'], 'weather': [20, 21, 19, 18, 20]}  

# Create DataFrame  
df = pd.DataFrame(data)

df

       date  weather
0  20110201       20
1  20110202       21
2  20110203       19
3  20110204       18
4  20110201       20

### Get rows index

In [8]:
df.index.values # in np

RangeIndex(start=0, stop=5, step=1)

### Get columns labels

In [7]:
df.columns

Index(['date', 'weather'], dtype='object')