In [9]:
import pandas as pd  
  
# assign data of lists.  
data = {'key': ["hello", "world", "again"], 'counter': [1, 2, 3]}  

df = pd.DataFrame(data)
df

     key  counter
0  hello        1
1  world        2
2  again        3

Get summary/infos about dataframe

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   key      3 non-null      object
 1   counter  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

# Dataframe shape[0] as row, shape[1] as column

In [7]:
print(f"Row: {df.shape[0]}")
print(f"Column: {df.shape[1]}")

Row: 3
Column: 2

## Describe dataframe , works on series

In [8]:
df.describe()

       counter
count      3.0
mean       2.0
std        1.0
min        1.0
25%        1.5
50%        2.0
75%        2.5
max        3.0

In [11]:
df.key.describe()

count         3
unique        3
top       hello
freq          1
Name: key, dtype: object