In [18]:
import pandas as pd 

arr1 = range(1, 5)
arr2 = range(4, 8)

df = pd.DataFrame({'a': arr1, 'b': arr2})

df.head()

   a  b
0  1  4
1  2  5
2  3  6
3  4  7

In [19]:
sublist = [3, 4, 10]

df.a.isin(sublist)

0    False
1    False
2     True
3     True
Name: a, dtype: bool

### Method 1

In [20]:
df[df.a.isin(sublist)]

   a  b
2  3  6
3  4  7

### Method 2

In [21]:
dfout = df.loc[df.a.isin(sublist)]

dfout

   a  b
2  3  6
3  4  7

# Number of items of output

In [22]:
dfout.shape[0]

2