In [8]:
import pandas as pd  
  
# assign data of lists.  
data = {'date': ['20101201', '20110201', '20110202', '20110203', '20110204', '20110205'], 'weather forecast': [40, 20, 21, 19, 18, 20]}  

# Create DataFrame  
df = pd.DataFrame(data)

In [9]:
lut = {'status': ['hot', 'too hot', 'bearable', 'cold'], 'value': [20, 21, 19, 18]}  

lutdf = pd.DataFrame(lut)

In [10]:
# Realized how two columns is generated when merging column have different name

In [11]:
dfmerged = df.merge(lutdf, left_on = 'weather forecast', right_on = 'value', how = 'inner')

dfmerged.head(5)

       date  weather forecast    status  value
0  20110201                20       hot     20
1  20110205                20       hot     20
2  20110202                21   too hot     21
3  20110203                19  bearable     19
4  20110204                18      cold     18

In [12]:
dfmerged2 = df.merge(lutdf, left_on = 'weather forecast', right_on = 'value', how = 'inner')

dfmerged2 = dfmerged2.drop(['value'], axis = 1)

dfmerged2.head(5)

       date  weather forecast    status
0  20110201                20       hot
1  20110205                20       hot
2  20110202                21   too hot
3  20110203                19  bearable
4  20110204                18      cold

# no such problem when key is the same

In [13]:

lutdfrename = lutdf.rename({"value": "weather forecast"},  axis= 1)

dfmerged3 = df.merge(lutdfrename, on = 'weather forecast', how = 'inner')

dfmerged3.head(5)

       date  weather forecast    status
0  20110201                20       hot
1  20110205                20       hot
2  20110202                21   too hot
3  20110203                19  bearable
4  20110204                18      cold

# merge on left, right, or inner (by default)

In [14]:
dfmerged4 = df.merge(lutdfrename, on = 'weather forecast', how = 'left')

dfmerged4.head(5)

       date  weather forecast    status
0  20101201                40       NaN
1  20110201                20       hot
2  20110202                21   too hot
3  20110203                19  bearable
4  20110204                18      cold