In [8]:
import pandas as pd 

arr1 = range(100, 105)
arr2 = ["abc", "def", "abc", "123", "456"]

df = pd.DataFrame({'a': arr1, 'b': arr2})

df.head()

     a    b
0  100  abc
1  101  def
2  102  abc
3  103  123
4  104  456

In [11]:
df.query("a >= 100 & a <= 102 & b == \"abc\"")

     a    b
0  100  abc
2  102  abc