In [14]:
import pandas as pd 

df = pd.DataFrame('x', index=range(3), columns=list('abcde'))

print(df)

   a  b  c  d  e
0  x  x  x  x  x
1  x  x  x  x  x
2  x  x  x  x  x

In [15]:
df.rename({'a': 'john', 'b': 'doe'}, axis=1)  # new method

  john doe  c  d  e
0    x   x  x  x  x
1    x   x  x  x  x
2    x   x  x  x  x

In [16]:
df.rename({'c': 'john', 'd': 'doe'}, axis="columns")  # new method

   a  b john doe  e
0  x  x    x   x  x
1  x  x    x   x  x
2  x  x    x   x  x

### Note that renaming need to reassign in order to reflec

In [17]:
df_ = df

df_.rename({"b": "test", "c": "trial"}, axis = 1)

print(df_)

df_ = df_.rename({"b": "test", "c": "trial"}, axis = 1)

print(df_)

   a  b  c  d  e
0  x  x  x  x  x
1  x  x  x  x  x
2  x  x  x  x  x
   a test trial  d  e
0  x    x     x  x  x
1  x    x     x  x  x
2  x    x     x  x  x

### the renaming will not happen if the key is not found, but no error will be raised.

In [18]:
df.rename({"x": "y"},  axis= 1)

   a  b  c  d  e
0  x  x  x  x  x
1  x  x  x  x  x
2  x  x  x  x  x

### not setting the axis parameter will not change the column name, cause its on rows (not columns)

In [19]:
df.rename({"a": "john"})

   a  b  c  d  e
0  x  x  x  x  x
1  x  x  x  x  x
2  x  x  x  x  x

In [20]:
df.rename({"a": "john"}, axis = 1)

  john  b  c  d  e
0    x  x  x  x  x
1    x  x  x  x  x
2    x  x  x  x  x

In [21]:
df.rename({0: "john"}, axis = 0)

      a  b  c  d  e
john  x  x  x  x  x
1     x  x  x  x  x
2     x  x  x  x  x