In [2]:
import pandas as pd 

df = pd.DataFrame('x', index=range(3), columns=list('abcde'))

In [3]:
df.rename({'a': 'john', 'b': 'doe'}, axis=1)  # new method

  john doe  c  d  e
0    x   x  x  x  x
1    x   x  x  x  x
2    x   x  x  x  x

In [6]:
df.rename({'c': 'john', 'd': 'doe'}, axis="columns")  # new method

   a  b john doe  e
0  x  x    x   x  x
1  x  x    x   x  x
2  x  x    x   x  x

### the renaming will not happen if the key is not found