In [13]:
import pandas as pd  
  
# assign data of lists.  
data = {'date': ['20110201', '20110202', '20110203', '20110204', '20110205', '20110201', '20110202', '20110212', '20110211', '20110205'], 
        'count': [20, 21, 19, 18, 20, 5, 1, 0, 21, 2]}  

# Create DataFrame  
df = pd.DataFrame(data)

print(df)

       date  count
0  20110201     20
1  20110202     21
2  20110203     19
3  20110204     18
4  20110205     20
5  20110201      5
6  20110202      1
7  20110212      0
8  20110211     21
9  20110205      2

# Sample by percentage

- [API Reference](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html)

In [14]:
sample_percentage= 0.2 # 20 percent

df.sample(frac = sample_percentage)

       date  count
2  20110203     19
0  20110201     20

# Sample by number of items 
**Note**: sample by number of items cannot be used together with percentage

In [15]:
sample_num = 5

df.sample(n = sample_num)

       date  count
8  20110211     21
1  20110202     21
5  20110201      5
7  20110212      0
0  20110201     20

# Sample by specific values

In [17]:
df.loc[df['date'] == '20110205']

       date  count
4  20110205     20
9  20110205      2