In [3]:
import pandas as pd  
  
# assign data of lists.  
data = {'Name': ['Tom', 'Joseph', 'Krish', 'John', 'Ali'], 'Age': [20, 21, 19, 18, 20]}  
  
# Create DataFrame  
df = pd.DataFrame(data) 

df.head(5)

     Name  Age
0     Tom   20
1  Joseph   21
2   Krish   19
3    John   18
4     Ali   20

In [4]:
filtered = df.loc[df['Age'] == 20]

filtered.head(5)

  Name  Age
0  Tom   20
4  Ali   20