In [3]:
import pandas as pd 
import numpy as np

rows = 5
df = pd.DataFrame(np.random.randint(0,rows,size=(rows, 2)), columns=list('AB'))

df["C"] = [0,0, 1, 1, 0]
df["D"] = [-1, 6, -1, -1, 6]

df

   A  B  C  D
0  1  3  0 -1
1  3  3  0  6
2  4  1  1 -1
3  3  3  1 -1
4  2  0  0  6

# Get as series

In [7]:
print(type(df.C))

print(df.C)

<class 'pandas.core.series.Series'>
0    0
1    0
2    1
3    1
4    0
Name: C, dtype: int64

# get as numpy array

In [9]:
print(type(df.C.values))

print(df.C.values)

<class 'numpy.ndarray'>
[0 0 1 1 0]